# Porta da aplicação
PORT=3001

# Chave secreta para JWT
JWT_SECRET=coloque_aqui_sua_chave_secreta

# Ambiente (development, production, test)
NODE_ENV=development

# URL de conexão para o banco de dados PostgreSQL
# Formato: postgresql://<user>:<password>@<host>:<port>/<database>
DATABASE_URL=postgresql://postgres:admin@localhost:5432/redex_db
